1. Which lesson appears to attract the most traffic consistently across cohorts (per program)?
2. Is there a cohort that referred to a lesson significantly more than other cohorts seemed to gloss over?
3. Are there students who, when active, hardly access the curriculum? If so, what information do you have about these students?
4. Is there any suspicious activity, such as users/machines/etc accessing the curriculum who shouldnâ€™t be? Does it appear that any web-scraping is happening? Are there any suspicious IP addresses?
5. At some point in 2019, the ability for students and alumni to access both curriculums (web dev to ds, ds to web dev) should have been shut off. Do you see any evidence of that happening? Did it happen before?
6. What topics are grads continuing to reference after graduation and into their jobs (for each program)?
7. Which lessons are least accessed?
8. Anything else I should be aware of?


#### I am focusing on questions 1, 2, 7

In [1]:
import warnings
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

# DBSCAN import
from sklearn.cluster import DBSCAN
# Scaler import
from sklearn.preprocessing import MinMaxScaler

import acquire as ac
from importlib import reload

In [5]:
df.to_csv('data/ananymized-curriculum-access.csv', index_label = False)

In [36]:

endpoint = df['page'].unique()
curriculum_df = pd.DataFrame(endpoint)
curriculum_df.rename(columns={0: 'pages'}, inplace = True)

In [37]:
curriculum_df.head()

                                 pages
0                                    /
1                              java-ii
2  java-ii/object-oriented-programming
3   slides/object_oriented_programming
4            javascript-i/conditionals

In [64]:
reload(ac)

In [63]:
curriculum = ac.curriculum_dataframe()

In [ ]:
curriculum['pages'].unique().tolist()

In [46]:
dict_map = {1:'PHP', 2:'Java', 3:'Data Science',4:'Front-End'}
update = df['program_id'].map(dict_map)
df['program_id'] = update
print(df)

map_dict = {
    1: 'php',
    2: 'java',
    3: 'data_science',
    4: 'front-end'
    }
df['program_id'] = df['program_id'].map(map_dict)

['java-ii/object-oriented-programming']

In [55]:
map_dict = {
    1: 'php',
    2: 'java',
    3: 'data_science',
    4: 'front-end'
    }
df['id'] = df['id'].map(map_dict)

In [65]:
df = ac.get_df()
df.head()

,date,time,page,program,cohort,ip
0,2018-01-26,09:55:03,/,php,8.0,97.105.19.61
1,2018-01-26,09:56:02,java-ii,php,8.0,97.105.19.61
2,2018-01-26,09:56:05,java-ii/object-oriented-programming,php,8.0,97.105.19.61
3,2018-01-26,09:56:06,slides/object_oriented_programming,php,8.0,97.105.19.61
4,2018-01-26,09:56:24,javascript-i/conditionals,java,22.0,97.105.19.61

In [3]:
import acquire2 as ac2

In [90]:
df1 = ac2.get_df()

In [89]:
def chron_df():
    '''
    This function acquires a dataframe from the given text file,
    cleans it, and then returns it for use
    '''

    df = ac2.acquire_curriculum_data()
    df = ac2.cleaning(df)
    df.date = pd.to_datetime(df.date + ' ' + df.time)
    df = df.drop(columns=['time'])
    df = df.set_index(df['date'])
    df = df.drop(columns=['date'])   

    return df

In [85]:
ex = ac2.acquire_curriculum_data()
ex = ac2.cleaning(ex)
ex.date = pd.to_datetime(ex.date + ' ' + ex.time)
ex = ex.drop(columns=['time'])
ex = ex.set_index(ex['date'])
ex = ex.drop(columns=['date'])

In [91]:
df2.head()

,page,program,cohort,ip
date,,,,
2018-01-26 09:55:03,/,php,8.0,97.105.19.61
2018-01-26 09:56:02,java-ii,php,8.0,97.105.19.61
2018-01-26 09:56:05,java-ii/object-oriented-programming,php,8.0,97.105.19.61
2018-01-26 09:56:06,slides/object_oriented_programming,php,8.0,97.105.19.61
2018-01-26 09:56:24,javascript-i/conditionals,java,22.0,97.105.19.61

In [4]:
 df3 = ac2.chron_df()

In [5]:
df3.head()

,page,program,cohort,ip
date,,,,
2018-01-26 09:55:03,/,php,8.0,97.105.19.61
2018-01-26 09:56:02,java-ii,php,8.0,97.105.19.61
2018-01-26 09:56:05,java-ii/object-oriented-programming,php,8.0,97.105.19.61
2018-01-26 09:56:06,slides/object_oriented_programming,php,8.0,97.105.19.61
2018-01-26 09:56:24,javascript-i/conditionals,java,22.0,97.105.19.61