1. Which lesson appears to attract the most traffic consistently across cohorts (per program)?
2. Is there a cohort that referred to a lesson significantly more than other cohorts seemed to gloss over?
3. Are there students who, when active, hardly access the curriculum? If so, what information do you have about these students?
4. Is there any suspicious activity, such as users/machines/etc accessing the curriculum who shouldn’t be? Does it appear that any web-scraping is happening? Are there any suspicious IP addresses?
5. At some point in 2019, the ability for students and alumni to access both curriculums (web dev to ds, ds to web dev) should have been shut off. Do you see any evidence of that happening? Did it happen before?
6. What topics are grads continuing to reference after graduation and into their jobs (for each program)?
7. Which lessons are least accessed?
8. Anything else I should be aware of?


#### I am focusing on questions 1, 2, 7

In [1]:
import warnings
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

# DBSCAN import
from sklearn.cluster import DBSCAN
# Scaler import
from sklearn.preprocessing import MinMaxScaler

import acquire as ac
import acquire2 as ac2
from importlib import reload

In [6]:
reload(ac2)

In [18]:
df.columns.tolist()

['page',
 'id',
 'ip',
 'cohort_name',
 'start_date',
 'end_date',
 'program_length',
 'program_name']

In [21]:
map_dict = {
    'full stack PHP': 'php', 
    'full stack Java': 'java', 
    'front end': 'front_end', 
    'data science': 'data_science'}
df['program_name'] = df['program_name'].map(map_dict)

In [28]:
df['program_name'].unique().tolist()

['php', 'java', nan, 'front_end', 'data_science']

In [ ]:
program_list = df['program_name'].unique().tolist()
def program_bools(list):
    for i in list:
        program_bool =

In [33]:
df['program_name'].unique()

['php', 'java', NaN, 'front_end', 'data_science']
Categories (4, object): ['data_science', 'front_end', 'java', 'php']

In [24]:
php_counts = df[df['program_name'] == 'php'].groupby(['id'])['program_name', 'start_date', 'page', 'cohort_name'].nunique()
php_counts

     program_name  start_date  page  cohort_name
id
1               1           1   248            1
11              1           1   209            1
37              1           1    80            1
50              1           1    90            1
51              1           1   194            1
..            ...         ...   ...          ...
647             1           1    46            1
649             1           1     1            1
740             1           1    19            1
852             1           1     1            1
952             1           1     1            1

[98 rows x 4 columns]

In [25]:
java_counts = df[df['program_name'] == 'java'].groupby(['id'])['program_name', 'start_date', 'page', 'cohort_name'].nunique()
java_counts

     program_name  start_date  page  cohort_name
id
1               1           1   858            1
2               1           1   151            1
3               1           1   169            1
4               1           1   143            1
5               1           1   197            1
..            ...         ...   ...          ...
977             1           1    12            1
978             1           1    18            1
979             1           1    20            1
980             1           1     1            1
981             1           1     9            1

[722 rows x 4 columns]

In [26]:
ds_counts = df[df['program_name'] == 'data_science'].groupby(['id'])['program_name', 'start_date', 'page', 'cohort_name'].nunique()
ds_counts

     program_name  start_date  page  cohort_name
id
143             1           1   129            1
268             1           1   208            1
358             1           1   159            1
466             1           1   211            1
467             1           1   186            1
..            ...         ...   ...          ...
911             1           1    60            1
912             1           1    55            1
913             1           1    64            1
914             1           1    74            1
949             1           1    71            1

[111 rows x 4 columns]

In [29]:
fe_counts = df[df['program_name'] == 'front_end'].groupby(['id'])['program_name', 'start_date', 'page', 'cohort_name'].nunique()
fe_counts

     program_name  start_date  page  cohort_name
id
152             1           1     4            1

In [39]:
nan_counts = df[df.program_name.isnull()].groupby(['id'])['program_name', 'start_date', 'page', 'cohort_name'].nunique()
nan_counts

     program_name  start_date  page  cohort_name
id
48              0           0   147            0
54              0           0    74            0
58              0           0    99            0
59              0           0    30            0
61              0           0   186            0
..            ...         ...   ...          ...
744             0           0    35            0
782             0           0    59            0
810             0           0   121            0
814             0           0    38            0
815             0           0    10            0

[78 rows x 4 columns]

In [50]:
php_page_access = df[df['program_name'] == 'php'].groupby(['page'])['program_name', 'start_date', 'id', 'cohort_name'].nunique()
php_page_access.sort_values(by=['id'], ascending=False).head(50)

,program_name,start_date,id,cohort_name
page,,,,
/,1,13,90,13
content/html-css,1,10,43,10
java-i,1,11,40,11
html-css,1,11,40,11
content/laravel/intro,1,10,37,10
javascript-i,1,11,35,11
toc,1,10,33,10
javascript-ii,1,9,33,9
content/git,1,8,33,8
content/appendix,1,9,32,9
content/php_ii,1,10,32,10
content/php_iv,1,9,31,9
content/html-css/gitbook/images/favicon.ico,1,8,31,8
content/php_i,1,10,31,10
java-i/introduction-to-java,1,8,30,8
content/javascript,1,9,29,9
content/html-css/introduction.html,1,10,28,10
content/laravel/intro/application-structure.html,1,9,28,9
content/mysql/intro-to-mysql,1,9,28,9
content/laravel/intro/gitbook/images/favicon.ico,1,8,28,8
content/php_iii,1,9,27,9
java-i/syntax-types-and-variables,1,9,26,9
content/git/creating-a-repository.html,1,8,26,8
content/php_i/gitbook/images/favicon.ico,1,8,25,8
spring,1,9,25,9
html-css/introduction,1,9,25,9
content/laravel/intro/environment.html,1,7,25,7
appendix,1,9,25,9
content/git/gitbook/images/favicon.ico,1,7,25,7
html-css/elements,1,9,24,9
content/javascript_ii,1,9,24,9
java-ii,1,9,24,9
content/php_ii/gitbook/images/favicon.ico,1,8,24,8
jquery,1,9,24,9
content/html-css/elements.html,1,9,24,9
content/php_i/intro-via-interactive-shell,1,8,23,8
content/git/initializing-a-repository.html,1,8,23,8
content/javascript/gitbook/images/favicon.ico,1,9,23,9
javascript-i/functions,1,9,23,9
content/html-css/css-i,1,8,22,8
content/html-css/forms.html,1,8,22,8
content/php_iv/gitbook/images/favicon.ico,1,8,22,8
content/appendix/gitbook/images/favicon.ico,1,9,22,9
javascript-ii/es6,1,9,21,9
java-i/console-io,1,7,21,7
javascript-i/javascript-with-html,1,9,21,9
content/git/adding-files.html,1,8,21,8
content/php_iii/gitbook/images/favicon.ico,1,8,21,8
content/php_iii/php-with-html,1,7,20,7
content/javascript_ii/gitbook/images/favicon.ico,1,9,20,9

In [48]:
ds_page_access = df[df['program_name'] == 'data_science'].groupby(['page'])['program_name', 'start_date', 'id', 'cohort_name'].nunique()
ds_page_access.sort_values(by=['id'], ascending=False).head(50)

,program_name,start_date,id,cohort_name
page,,,,
/,1,5,111,5
search/search_index.json,1,5,98,5
1-fundamentals/1.1-intro-to-data-science,1,5,91,5
1-fundamentals/AI-ML-DL-timeline.jpg,1,5,89,5
1-fundamentals/modern-data-scientist.jpg,1,5,89,5
fundamentals/intro-to-data-science,1,5,88,5
fundamentals/modern-data-scientist.jpg,1,5,87,5
fundamentals/AI-ML-DL-timeline.jpg,1,5,87,5
classification/overview,1,5,85,5
sql/mysql-overview,1,5,83,5
classification/scale_features_or_not.svg,1,5,82,5
fundamentals/git,1,5,74,5
fundamentals/data-science-pipeline,1,5,73,5
python/intro-to-matplotlib,1,5,73,5
python/advanced-dataframes,1,5,72,5
fundamentals/DataToAction_v2.jpg,1,5,72,5
python/introduction-to-python,1,5,71,5
python/dataframes,1,5,70,5
python/overview,1,5,69,5
sql/temporary-tables,1,5,68,5
python/series,1,5,68,5
fundamentals/environment-setup,1,5,68,5
anomaly-detection/AnomalyDetectionCartoon.jpeg,1,5,68,5
anomaly-detection/overview,1,5,68,5
sql/mysql-introduction,1,5,68,5
python/imports,1,5,68,5
python/functions,1,5,67,5
sql/functions,1,5,67,5
python/control-structures,1,5,67,5
fundamentals/pipeline-demo,1,5,66,5
1-fundamentals/2.1-excel-overview,1,4,66,4
sql/joins,1,5,66,5
sql/where,1,5,65,5
sql/subqueries,1,5,65,5
sql/databases,1,5,65,5
python/data-types-and-variables,1,5,65,5
python/pandas-overview,1,5,65,5
python/intro-to-numpy,1,5,64,5
sql/case-statements,1,5,64,5
sql/basic-statements,1,5,64,5
sql/tables,1,5,64,5
sql/group-by,1,5,63,5
sql/more-exercises,1,5,62,5
appendix/cli-git-overview,1,4,62,4
3-sql/1-mysql-overview,1,4,62,4
sql/indexes,1,5,61,5
appendix/open_data,1,5,61,5
3-sql/4-tables,1,3,60,3
3-sql/5-basic-statements,1,3,60,3
sql/order-by,1,5,60,5

In [51]:
java_page_access = df[df['program_name'] == 'java'].groupby(['page'])['program_name', 'start_date', 'id', 'cohort_name'].nunique()
java_page_access.sort_values(by=['id'], ascending=False).head(50)

,program_name,start_date,id,cohort_name
page,,,,
/,1,28,713,28
javascript-i,1,28,658,28
html-css,1,28,648,28
javascript-i/functions,1,28,606,28
javascript-i/javascript-with-html,1,28,601,28
toc,1,28,596,28
javascript-i/conditionals,1,28,595,28
html-css/elements,1,26,593,26
jquery,1,28,590,28
javascript-i/introduction/primitive-types,1,27,587,27
javascript-i/introduction/working-with-data-types-operators-and-variables,1,27,586,27
html-css/introduction,1,27,584,27
javascript-ii,1,28,577,28
javascript-i/loops,1,28,577,28
html-css/forms,1,26,575,26
javascript-i/introduction/operators,1,27,575,27
javascript-i/objects,1,28,566,28
java-i,1,28,566,28
appendix,1,28,564,28
javascript-i/introduction/variables,1,27,562,27
javascript-i/introduction,1,27,561,27
javascript-i/arrays/manipulating,1,27,561,27
javascript-i/arrays,1,28,561,28
html-css/css-ii/bootstrap-introduction,1,26,559,26
html-css/css-ii/bootstrap-grid-system,1,25,556,25
spring,1,28,554,28
html-css/css-i/positioning,1,26,551,26
html-css/css-i/introduction,1,25,551,25
search/search_index.json,1,28,550,28
html-css/css-i/selectors-and-properties,1,25,548,25
html-css/css-ii/media-queries,1,26,546,26
html-css/css-i/box-model,1,25,545,25
mysql,1,27,543,27
javascript-i/bom-and-dom/bom,1,28,542,28
javascript-i/objects/math,1,28,542,28
javascript-i/coffee-project,1,28,541,28
javascript-i/bom-and-dom/dom,1,28,535,28
java-ii,1,27,529,27
jquery/introduction,1,26,529,26
html-css/css-i,1,25,528,25
java-iii,1,28,526,28
javascript-i/bom-and-dom,1,28,525,28
javascript-ii/es6,1,27,521,27
jquery/selectors,1,26,515,26
javascript-i/bom-and-dom/dom-events,1,27,514,27
jquery/ajax/requests-and-responses,1,27,512,27
javascript-ii/map-filter-reduce,1,27,511,27
jquery/ajax/weather-map,1,26,510,26
javascript-ii/promises,1,27,509,27
jquery/events/mouse-events,1,26,507,26

In [46]:
first_cohort.head()

,date,endpoint,cohort_name
2018-01-26,2018-01-26,/,Arches
2018-01-26,2018-01-26,javascript-i,Arches
2018-01-26,2018-01-26,javascript-i/functions,Arches
2018-01-26,2018-01-26,appendix/further-reading/javascript/hoisting.html,Arches
2018-01-26,2018-01-26,appendix,Arches
...,...,...,...
2019-03-29,2019-03-29,javascript-i/conditionals,Arches
2019-03-30,2019-03-30,/,Arches
2019-03-30,2019-03-30,toc,Arches
2019-03-30,2019-03-30,toc,Arches
2019-03-30,2019-03-30,prework/cli,Arches

In [14]:
df = ac.wrangle_curriculum_access()

In [16]:
df.head()

,page,id,ip,cohort_name,start_date,end_date,program_length,program_name
date,,,,,,,,
2018-01-26 09:55:03,/,1,97.105.19.61,Hampton,2015-09-22,2016-02-06,137 days,full stack PHP
2018-01-26 09:56:02,java-ii,1,97.105.19.61,Hampton,2015-09-22,2016-02-06,137 days,full stack PHP
2018-01-26 09:56:05,java-ii/object-oriented-programming,1,97.105.19.61,Hampton,2015-09-22,2016-02-06,137 days,full stack PHP
2018-01-26 09:56:06,slides/object_oriented_programming,1,97.105.19.61,Hampton,2015-09-22,2016-02-06,137 days,full stack PHP
2018-01-26 09:56:24,javascript-i/conditionals,2,97.105.19.61,Teddy,2018-01-08,2018-05-17,129 days,full stack Java