1. Which lesson appears to attract the most traffic consistently across cohorts (per program)?
2. Is there a cohort that referred to a lesson significantly more than other cohorts seemed to gloss over?
3. Are there students who, when active, hardly access the curriculum? If so, what information do you have about these students?
4. Is there any suspicious activity, such as users/machines/etc accessing the curriculum who shouldn’t be? Does it appear that any web-scraping is happening? Are there any suspicious IP addresses?
5. At some point in 2019, the ability for students and alumni to access both curriculums (web dev to ds, ds to web dev) should have been shut off. Do you see any evidence of that happening? Did it happen before?
6. What topics are grads continuing to reference after graduation and into their jobs (for each program)?
7. Which lessons are least accessed?
8. Anything else I should be aware of?


#### I am focusing on questions 1, 2, 7

In [1]:
import warnings
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

# DBSCAN import
from sklearn.cluster import DBSCAN
# Scaler import
from sklearn.preprocessing import MinMaxScaler

In [2]:
# Import .txt file and convert it to a DataFrame object
df = pd.read_table("data/anonymized-curriculum-access.txt", sep = '\s', header = None, 
                   names = ['date', 'time', 'page', 'id', 'cohort', 'ip'])

In [3]:
df.head()

,date,time,page,id,cohort,ip
0,2018-01-26,09:55:03,/,1,8.0,97.105.19.61
1,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61
2,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61
3,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61
4,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900223 entries, 0 to 900222
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    900223 non-null  object
 1   time    900223 non-null  object
 2   page    900222 non-null  object
 3   id      900223 non-null  int64
 4   cohort  847330 non-null  float64
 5   ip      900223 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 41.2+ MB

In [5]:
df.to_csv('data/ananymized-curriculum-access.csv', index_label = False)

In [30]:

endpoint = df['page'].unique()
curriculum_df = pd.DataFrame(endpoint)
curriculum_df.rename(columns={0: 'pages'})

                                                  pages
0                                                     /
1                                               java-ii
2                   java-ii/object-oriented-programming
3                    slides/object_oriented_programming
4                             javascript-i/conditionals
...                                                 ...
2309            appendix/further-reading/jquery/effects
2310                      easley-python-assessment.html
2311                    florence-python-assessment.html
2312                                   javascript-i/dom
2313  appendix/professional-development/post-intervi...

[2314 rows x 1 columns]

In [29]:
curriculum_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2314 entries, 0 to 2313
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       2313 non-null   object
dtypes: object(1)
memory usage: 18.2+ KB