In [44]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from importlib import reload
import warnings
warnings.simplefilter("ignore")
%matplotlib inline
%config InlineBackend.figure_format = 'retina'
import acquire2 as a

4. Is there any suspicious activity, such as users/machines/etc accessing the curriculum who shouldnâ€™t be? Does it appear that any web-scraping is happening? Are there any suspicious IP addresses?
5. At some point in 2019, the ability for students and alumni to access both curriculums (web dev to ds, ds to web dev) should have been shut off. Do you see any evidence of that happening? Did it happen before?

In [46]:
reload(a)
df = a.get_df()
df.head()

,date,time,page,program,cohort,ip
0,2018-01-26,09:55:03,/,php,8.0,97.105.19.61
1,2018-01-26,09:56:02,java-ii,php,8.0,97.105.19.61
2,2018-01-26,09:56:05,java-ii/object-oriented-programming,php,8.0,97.105.19.61
3,2018-01-26,09:56:06,slides/object_oriented_programming,php,8.0,97.105.19.61
4,2018-01-26,09:56:24,javascript-i/conditionals,java,22.0,97.105.19.61

In [43]:
df.groupby(['id','ip']).page.count()

id   ip
1    12.5.63.210        6
     136.50.61.52       1
     172.56.15.15       8
     172.56.15.203      3
     172.56.15.46       1
                       ..
979  107.77.219.39     18
     107.77.220.107    10
     107.77.222.49      3
980  97.105.19.60       3
981  67.11.98.144      42
Name: page, Length: 7535, dtype: int64

In [36]:
df.head()

,date,time,page,id,cohort,ip
0,2018-01-26 09:55:03,09:55:03,/,1,8.0,97.105.19.61
1,2018-01-26 09:56:02,09:56:02,java-ii,1,8.0,97.105.19.61
2,2018-01-26 09:56:05,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61
3,2018-01-26 09:56:06,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61
4,2018-01-26 09:56:24,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61