In [8]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from importlib import reload
import warnings
warnings.simplefilter("ignore")
%matplotlib inline
%config InlineBackend.figure_format = 'retina'
import acquire as a
import woody_explore as e

4. Is there any suspicious activity, such as users/machines/etc accessing the curriculum who shouldnâ€™t be? Does it appear that any web-scraping is happening? Are there any suspicious IP addresses?
5. At some point in 2019, the ability for students and alumni to access both curriculums (web dev to ds, ds to web dev) should have been shut off. Do you see any evidence of that happening? Did it happen before?

In [12]:
reload(a)
df = a.wrangle_curriculum_access()
df.shape[0]

900223

In [35]:
program_id.loc[1,'data science']

page              0
ip                0
cohort_name       0
start_date        0
end_date          0
program_length    0
Name: (1, data science), dtype: int64

In [43]:
df.page.str.contains('php').sum()

3933

In [77]:
df['page_is_ds'] = False
df.loc[df.page.str.startswith(('1','2','3','4','5','6','7','8','9','0')),'page_is_ds'] = True
df.head()

,page,id,ip,cohort_name,start_date,end_date,program_length,program_name,page_is_ds
date,,,,,,,,,
2018-01-26 09:55:03,/,1,97.105.19.61,Hampton,2015-09-22,2016-02-06,137 days,full stack PHP,False
2018-01-26 09:56:02,java-ii,1,97.105.19.61,Hampton,2015-09-22,2016-02-06,137 days,full stack PHP,False
2018-01-26 09:56:05,java-ii/object-oriented-programming,1,97.105.19.61,Hampton,2015-09-22,2016-02-06,137 days,full stack PHP,False
2018-01-26 09:56:06,slides/object_oriented_programming,1,97.105.19.61,Hampton,2015-09-22,2016-02-06,137 days,full stack PHP,False
2018-01-26 09:56:24,javascript-i/conditionals,2,97.105.19.61,Teddy,2018-01-08,2018-05-17,129 days,full stack Java,False

In [57]:
df.page.str.contains('html')

date
2018-01-26 09:55:03    False
2018-01-26 09:56:02    False
2018-01-26 09:56:05    False
2018-01-26 09:56:06    False
2018-01-26 09:56:24    False
                       ...
2021-04-21 16:41:51    False
2021-04-21 16:42:02    False
2021-04-21 16:42:09    False
2021-04-21 16:44:37    False
2021-04-21 16:44:39    False
Name: page, Length: 900223, dtype: object

In [70]:
pages = df[df.index.year >= 2019].page.value_counts()
ds_topics
df.page.str.contains()

In [39]:
reload(e)
program_id = df.groupby(['id','program_name']).page.count()
for i in program_id.index.levels[0]:
    for j in program_id.index.levels[1]:
        if program_id.loc[i,j]

program_name
data science          0
front end             0
full stack Java    1809
full stack PHP        0
Name: page, dtype: int64

In [78]:
df.head().T

date,2018-01-26 09:55:03,2018-01-26 09:56:02,2018-01-26 09:56:05,2018-01-26 09:56:06,2018-01-26 09:56:24
page,/,java-ii,java-ii/object-oriented-programming,slides/object_oriented_programming,javascript-i/conditionals
id,1,1,1,1,2
ip,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61
cohort_name,Hampton,Hampton,Hampton,Hampton,Teddy
start_date,2015-09-22 00:00:00,2015-09-22 00:00:00,2015-09-22 00:00:00,2015-09-22 00:00:00,2018-01-08 00:00:00
end_date,2016-02-06 00:00:00,2016-02-06 00:00:00,2016-02-06 00:00:00,2016-02-06 00:00:00,2018-05-17 00:00:00
program_length,137 days 00:00:00,137 days 00:00:00,137 days 00:00:00,137 days 00:00:00,129 days 00:00:00
program_name,full stack PHP,full stack PHP,full stack PHP,full stack PHP,full stack Java
page_is_ds,False,False,False,False,False

In [133]:
ds_topics = ['search_index.json','/','cluster','mysql','acquire','series','dataframe','toc','login','storytelling','stats','appendix','fundamentals','anomaly','ai','tidy','ml','python','sql','data-science','explore','classification','timeseries','regression','nlp']
not_ds_topics = ['spring','java','css','jquery']
df.page_is_ds = False
df.loc[df.page.str.startswith(('1','2','3','4','5','6','7','8','9','0')),'page_is_ds'] = True
df.loc[df.page.str.contains('search_index.json'),'page_is_ds'] = True
for topic in ds_topics:
    df.loc[df.page.str.contains(topic,case=False),'page_is_ds'] = True
for topic in not_ds_topics:
    df.loc[df.page.str.contains(topic,case=False),'page_is_ds'] = False
check_pages = df[df.page_is_ds & (df.program_name != 'data science')].page.value_counts()

In [104]:
ds_cohorts = df[df.program_name == 'data science'].cohort_name.unique()
not_program_specific = ['/','search/search_index.json']

ds_info = df[df.cohort_name.isin(ds_cohorts) & ~df.page_is_ds].page.value_counts(ascending=True)

In [108]:
df.loc[df.page.str.contains('search_index.json'),'page_is_ds'] = True

In [137]:
post_2019 = df[df.index.year == 2019]
post_2019 = post_2019[(post_2019.program_name == 'data science') & ~post_2019.page_is_ds].sort_index(ascending=False)
post_2019

,page,id,ip,cohort_name,start_date,end_date,program_length,program_name,page_is_ds
date,,,,,,,,,
2019-12-14 16:46:24,javascript-i,476,136.50.49.145,Bayes,2019-08-19,2020-01-30,164 days,data science,False
2019-12-14 16:44:26,html-css/forms,476,136.50.49.145,Bayes,2019-08-19,2020-01-30,164 days,data science,False
2019-12-14 16:44:18,html-css/elements,476,136.50.49.145,Bayes,2019-08-19,2020-01-30,164 days,data science,False
2019-12-14 16:44:16,html-css/introduction,476,136.50.49.145,Bayes,2019-08-19,2020-01-30,164 days,data science,False
2019-12-14 16:44:09,html-css,476,136.50.49.145,Bayes,2019-08-19,2020-01-30,164 days,data science,False
...,...,...,...,...,...,...,...,...,...
2019-09-25 19:30:42,html-css,476,136.50.49.145,Bayes,2019-08-19,2020-01-30,164 days,data science,False
2019-09-23 11:45:09,java-iii,476,97.105.19.58,Bayes,2019-08-19,2020-01-30,164 days,data science,False
2019-08-30 05:37:28,misleading3_deaths.jpg,483,67.11.120.157,Bayes,2019-08-19,2020-01-30,164 days,data science,False
2019-08-30 05:37:28,misleading1_fox.jpg,483,67.11.120.157,Bayes,2019-08-19,2020-01-30,164 days,data science,False
2019-08-30 05:37:28,misleading1_baseball.jpg,483,67.11.120.157,Bayes,2019-08-19,2020-01-30,164 days,data science,False